node_modules
.next
out
dist
build

.env
.env.local
.env.*.local

prisma/dev.db
prisma/dev.db-journal
prisma/*.db
prisma/*.db-journal
prisma/prisma/

.ingest-token

*.log
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json

# iCloud
.icloud
